/* Start Variables */
:root {
    --main-color: #2F303A;
    --blue-color: #1761a77d;
    --rose-color: #BC3A80;


}
/* End Variables */
/* Global Rules */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
body {
    background-color: #2F303A;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #2F303A;
}
/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */

@media (min-width: 992px) {
    .container {
        width: 770px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start header */
.main-header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #2F303A;
    display: flex;
    justify-content: space-between;
}
.main-nav ul {
    display: flex;
    margin-top: 30px;
    margin-right: 50px;
}
.main-nav ul li a {
    font-size: 18px;
    margin-left: 50px;
    color: white;
}
.brand-logo {
    margin-top: 20px;
}
.brand-logo img {
    width: 65%;
}
/* End header */
/* Start Section */
section {
    height: 78.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .left {
    width: 55%;
    margin-bottom: 20px;
}
.left h1 {
    font-size: 32px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-right: 47px;
    margin-bottom: 40px;
}
.left .cards_container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards_container .card  {
    background-color: #202027;
    width: 25%;
    height: 95px;
    border-radius: 3px;
    border: none;
}

.card img {
    width: 35px;
    margin-left: 30px;
    margin-top: 15px;
}
.card p {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.left #joining {
    font-size: 17px;
    color: white;
    text-align: left;
    margin-left: 153px;
    margin-top: 40px;
}  
section .right {
    width: 45%;
}
.right img {
    width: 60%;
    margin-left: 40px;
}
/* End Section */
/* Start Footer */
footer {
    height: 50px;
    background-color: #202027;
    display: flex;
    border-radius: 2px;
}
.footer_left {
    display: flex;
    width: 40%;
    margin-left: 65px;
}
.footer_left p {
    font-size: 16px;
    color: white;
    margin-right: 40px;
}
.footer_right {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    margin-left: 65px;
}
.footer_right img {
    width: 20px;
    margin-right: 6px;
}
.footer_right a {
    font-weight: 500;
    margin-right: 30px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
}
/* End Footer */
