/* Start Variables */
:root {
    --main-color: #2F303A;
    --blue-color: #1761a77d;
    --rose-color: #BC3A80;


}
/* End Variables */
/* Global Rules */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
body {
    background-color: #2F303A;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #2F303A;
}
/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */

@media (min-width: 992px) {
    .container {
        width: 770px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
.main-header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #2F303A;
    display: flex;
    justify-content: space-between;
}
.main-nav ul {
    display: flex;
    margin-top: 30px;
    margin-right: 50px;
}
.main-nav ul li a {
    font-size: 18px;
    margin-left: 50px;
    color: white;
}
.brand-logo {
    margin-top: 20px;
}
.brand-logo img {
    width: 65%;
}
.home_page {
    display: flex;
}
.left {
    width: 50%;
    position: relative;
}
.right {
    position: relative;
    width: 50%;
}
.left img {
    height: 71vh;
    margin-top: 85px;
    margin-left: 60px;
    z-index: 2;
    position: relative;

}
.home-page-circle-1 {
    width: 180px;
    height: 180px;
    background-color: #bc3a7f26;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;

}
.home-page-circle-2 {
    width: 100px;
    height: 100px;
    background-color: #1761a739;
    border-radius: 50px;
    position: absolute;
    right: 78px;
    z-index: 1;
    top: 32px;
}
.right h1 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 140px;
    color: white;
}
.right p {
    font-size: 18px;
    color: white;
}
.right button {
    width: 120px;
    height: 43px;
    border-radius: 5px;
    color: white;
    background-color: #1761a7f1;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
.right img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}